.card{
    background-color:blueviolet;
    padding:8px;
    border-radius:8px;
    color: white;
    width: 20%;
}

.card_price{
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    padding:4px;

}
