.body{
    display:flex;
    flex-direction:row;
    background-color:white;
}
h1,h2,p{
    color:#525252;
}
h1{
    font-size:36px;
}
h2{
    font-size:16px;
}
.pics{
    justify-content:left;
}


.form_container{
    display: flex;
    flex-direction:row;
    justify-content:right;
    }


button img{
    height:25px;
    width:25px;
   
}
.goog{
    background-color:white;
    color:black;
    display:flex;
    text-align:center;
    margin-left:20px;
    margin-right:20px;
    margin-top:30px;
    padding-left:100px;
    padding-right:100px;
    border-color:gainsboro;
    border-radius:4px;
}
input{
    background-color:white;
    color:black;
}
.log{
    background-color:#7F265B;
    color:white;
    margin:30px;
    padding-left:150px;
    padding-right:150px;
    border-radius:4px;
}
label{
    color:black;
}


.logo{
    height:72px;
    width:72px;
    margin-right:280px;
}
